* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
.firstbox {
  width: 540px;
  height: 168px;
  top: 80px;
  left: 450px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Main_header {
  font-size: 36px;
  font-weight: 275;
  line-height: 54px;
  letter-spacing: 0.25px;
  color: #4d4f62;
  font-family: "Poppins";
}
h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.25px;
  text-align: center;
  color: #4d4f62;
  font-family: "Poppins";
}
.ptag {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.1041666641831398px;
  text-align: center;
  color: #4d4f62;
  font-family: "Poppins";
  opacity: 0.5;
}
.container {
  width: 1110px;
  height: 500px;
  gap: 30px;
  opacity: 0px;
  display: flex;
  margin-top: 64px;
  display: flex;
  align-items: center;
  margin-left: 165px;
  margin-right: 165px;
}
.supervisor {
  width: 350px;
  height: 250px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  position: relative;
  box-shadow: 0px 15px 30px -11px #83a6d280;
}
.centerbox {
  width: 350px;
  height: 500px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.Team_Builder {
  width: 350px;
  height: 250px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;
  position: relative;
  box-shadow: 0px 15px 30px -11px #83a6d280;
}
.karma {
  width: 350px;
  height: 250px;
  gap: 0px;
  border-radius: 18px 8px 8px 8px;
  opacity: 0px;
  /* border: 1px solid black; */
  position: relative;
  box-shadow: 0px 15px 30px -11px #83a6d280;
}
.Calculator {
  width: 350px;
  height: 250px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;
  box-shadow: 0px 15px 30px -11px #83a6d280;
  position: relative;
}

.sup_title {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.0902777761220932px;
  text-align: left;
  padding-left: 32px;
  opacity: 0.5;
  margin-top: 6px;
}
.team_title {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.0902777761220932px;
  text-align: left;
  padding-left: 32px;
  padding-top: 6px;
  opacity: 0.5;
}
.karma_title {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.0902777761220932px;
  text-align: left;
  margin-top: 6px;
}

.calculator_title {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.0902777761220932px;
  text-align: left;
  margin-top: 6px;
}
.Magnifying_glass {
  width: 64px;
  height: 64px;
  top: 154px;
  left: 254px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.sup_header {
  padding-left: 32px;
  padding-top: 32px;
  color: #4d4f62;
  font-family: "Poppins";
  font-size: 20px;
}
.Team_Builder_header {
  font-size: 20px;
  padding-left: 32px;
  padding-top: 32px;
  color: #4d4f62;
  font-family: "Poppins";
}
.home {
  width: 64px;
  height: 64px;
  top: 154px;
  left: 254px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}
.supervisor::before {
  content: "";
  background-color: #44d3d2;
  display: block;
  width: 350px;
  height: 4px;
  gap: 0px;
  opacity: 0px;
}
.Team_Builder::before {
  content: "";
  background: #ea5454;
  display: block;
  width: 350px;
  height: 4px;
  gap: 0px;
  opacity: 0px;
}
.karma::before {
  content: "";
  background: #fcae4a;
  display: block;
  width: 350px;
  height: 4px;
  gap: 0px;
  opacity: 0px;
}
.karma_header {
  color: #4d4f62;
  font-family: "Poppins";
  font-size: 20px;
  padding-left: 32px;
  padding-top: 32px;
}
.karma_title {
  color: #4d4f62;
  opacity: 0.5;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.09px;
  padding-left: 32px;
  padding-top: 6px;
}
.idea_icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  position: absolute;
  top: 154px;
  left: 254px;
  gap: 0px;
  opacity: 0px;
}
.Calculator::before {
  content: "";
  background: #549ef2;
  display: block;
  width: 350px;
  height: 4px;
  gap: 0px;
  opacity: 0px;
}
.Calculator_header {
  padding-left: 32px;
  padding-top: 32px;
  color: #4d4f62;
  font-family: "Poppins";
  font-size: 20px;
}
.calculator_title {
  color: #4d4f62;
  opacity: 0.5;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.09px;
  padding-left: 32px;
  padding-top: 6px;
}
.software_icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  position: absolute;
  top: 154px;
  left: 254px;
  gap: 0px;
  opacity: 0px;
}
